/*
 *   Core: General Layout Style
 *   Author: Prajwal Shrestha
 *   Version: 1.0.0
 *   License: GNU General Public License v2 or later
 *   License URI: http://www.gnu.org/licenses/gpl-2.0.html
 *   -------------------------
 */

.content-header {
    padding-bottom: 30px;
}


#delete-submit {

    /*display: none;*/
}

.reset-password{
    width: 400px;
    margin: 7% auto;
}

.form-horizontal .control-label {
    text-align: left;
}

.team-name {
    color: #000;
    cursor: pointer;
}

.error-message{
    display: none;
    padding: 3px 10px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    margin-top: 5px;
    margin-bottom: 10px;
}

.make-visible{
    display: block;
}

.decline-organization{
    display: inline-block;
}

.btn-warning {
     background-color: #C0C0C0;
     border-color: #C0C0C0;
}




